/* static width means that if the view becomes less than the defined dimensions then will get a scroll action by default */
/* margin pressence of two actually means it is a repeating application in the following order:
   top right down left
   auto can be used to center the content horizontally.
*/
#static-width-content{
	width: 600px;
	/* margin: 0 auto; */
}

/* once view become less than max width, the content will auto wrap, thus no scrolling bar will become present */
#max-width-content{
	max-width: 600px;
}

/* using the box sizing ensure that box model elements line up even when padding, margin exists in varying amounts between two different sized boxes, aids in ensuring a uniform presentation */
#simple {
	width: 600px;
	margin: 20px auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
  }
  
  #fancy {
	max-width: 600px;
	margin: 20px auto;
	padding: 50px;
	border: solid blue 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
  }

  #static {
	position: static;
  }

  #relative1 {
	position: relative;
  }
  #relative2 {
	position: relative;
	top: -100px;
	left: 20px;
	background-color: white;
	width: 500px;
  }

#fixed{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	background-color: rgb(125, 33, 33);
}
#relative {
	position: relative;
	width: 600px;
	height: 400px;
  }
  #absolute {
	position: absolute;
	top: 120px;
	right: 0;
	width: 300px;
	height: 200px;
  }